@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");


/*  GENERAL */
html {
    height:100%;
}


body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: rgb(31, 29, 29);
}

#appWindow
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(193,0,0);
    background: linear-gradient(43deg, rgba(235,0,0,1) 0%, rgba(231,0,0,1) 63%, rgba(241,241,241,1) 100%);
    font-family: "Raleway";
    color: white;
}

#hTitle {
    font-size: 4em;
}

#noteDisplay {
    font-size: 25em;
}

#optionsButton {
    font-size: 2em;
    color: rgb(179, 179, 179);
}

#optionsButton:hover {
    font-size: 2em;
    color: rgb(240, 240, 240);
}

/*  OPTIONS */

#optionsPage {
    z-index: 2000;
    position: absolute;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(129, 129, 129, 0.986);
    color: black;
    font-size: 1.8em;
    box-shadow: 10px 5px 5px rgb(43, 43, 43) ;
    visibility: visible;
    opacity: 1;
    transition: all 1s;
}

#optionsPage.hidden {
    visibility: hidden;
    transform: translate(-100vw);
    opacity: 0;

}

#speedContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#speedContainer p {
    margin: 0;
    color: white;
    vertical-align: middle;
}


.item {
    display: flex;
    width: 15%;
    border: solid white 4px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.item:hover {
    background-color: rgba(255, 250, 250, 0.445);
}

.item.selected {
    background-color: rgba(255, 250, 250, 0.842);
}

input[type=range].customSlider {
    width: 50%;
    -webkit-appearance: none;     /*nécessaire pour Chrome */
    padding: 0;                   /* nécessaire pour IE */
    font: inherit;                /* même rendu suivant font document */
    outline: none;
    color: rgb(53, 55, 56);                  /* sert pour couleur de référence, via currentColor, pour le curseur */
    opacity: .8;
    background-color: rgb(182, 182, 182);             /* sert pour couleur de fond de la zone de déplacement */
    box-sizing: border-box;       /* même modèle de boîte pour tous */
    transition: opacity .2s;
    transition: background-color .1s;
    cursor: pointer;
}

input[type=range].customSlider.blink{
    background-color: white;
}


#notesContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.noteItem {
    width: 7%;
}

#otherOptions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.langSelected {
    color: white;
}
#validButton {
    width: 300px;
    text-align: center;
    border: solid black 4px;
}

#validButton:hover {
    background-color: rgb(255, 255, 255);
}
